[submodule "ext/minhook"]
	path = ext/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "ext/sigmatch"]
	path = ext/sigmatch
	url = https://github.com/SpriteOvO/sigmatch.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
